@font-face {
    font-family: 'digital-font';
    src: url(./fonts/digital-7.regular.ttf);
}

body{
    margin: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(131, 137, 145);
}

.calc-container{
    margin: 0;
    width: 350px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: rgb(88, 88, 88);
    border: 2px solid orange;
    border-radius: 4px;
}

.display{
    padding-right: 4px;
    font-family: 'digital-font';
    display: flex;
    width: 330px;
    height: 80px;
    background-color: darkgray;
    color: black;
    justify-content: end;
    align-items: center;
    font-size: 55px;
    border: 2px solid black;
    border-radius: 4px;
}

.equals-decimal, .zero-clear-plusminus,
.top3, .mid3, .bottom3{
    display: flex;
    gap: 2px;
}
.equals{
    flex: 2;
    width: 56%;
}

.button-container{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
}

.digits{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.digits button{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.digits button:hover{
    background-color: rgba(0, 0, 0, 0.9);
}

.operators{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.equals-decimal button.equals{
    background-color: rgba(34, 34, 212, 0.5);
}

.operators button{
    background-color: rgba(34, 34, 212, 0.5);
}

button{
    border-radius: 4px;
    padding: 1px 0;
    font-size: 24px;
    text-align: center;
    width: 83px;
    height: 60px;
}

button:hover, .equals-decimal button.equals:hover{
    background-color: rgba(34, 34, 212, 0.8);
}